.arlap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .kep{
    width: 50%;
  }

  .arfelirat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


  }