
body {
  margin: 0;
  padding: 0;
  width: 1350px;
  margin: 0 auto;
  min-height: 100vh;
  
  

}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #ecebeb;
    font-size: large;

  }

  ul.navbar li {
    float: left;
  }

  ul.navbar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    
  }

  ul.navbar li a:hover {
    background-color: #ddd;
  }


  @media (max-width: 960px) {
    ul.navbar {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

.fejlec {
    display: flex;
    background-image: url("pictures/fejlecvégl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: xx-large;
    color: white;
    align-items: center;
    padding-left: 5%;
    height: 500px;

}
.langWrap{
    float: right;

}

.container{
  margin-left: 100px;
  margin-right: 100px;
  
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #e8ebe8;
    padding: 70px 0;
    
}
.footer-col{
   width: 30%;
   padding: 0 15px;
   
}
.footer-col h2{
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 500;
	position: relative;
  
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
  margin-bottom: 5px;
  margin-left: 10px;
}

.eler{
  margin-top: 40px;
}

.infobar{
  margin-top: 40px;
}
.flag1{
  margin-left: 10px;
  margin-right: 20px;

}
.flag3{
  margin-left: 10px;
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.arlap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(131, 131, 131);
  
  

}
.kep{
  width: 50%;


}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



